body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* color: #2c3e50; */
  background: #fff;
}

*:focus {
  outline: none;
}

.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
