//@import 'bootstrap/scss/bootstrap';
@import "bootstrap/scss/functions";

// Toggle global options
//$enable-gradients: true;
$enable-shadows: true;

//$offcanvas-box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);

// Customize some defaults
$body-color: #2c3e50;
//$body-bg: #f8f9fa;
//$border-radius: .4rem;
//$success: #7952b3;
$list-group-active-bg: #f8f9fa;
//$list-group-active-bg: #dee2e6;
$list-group-active-color: #2c3e50;
$list-group-active-border-color: #dee2e6;



// Базовые, их подключаем всегда
@import "bootstrap/scss/variables";
@import "bootstrap/scss/variables-dark";

@import "bootstrap/scss/maps";
@import "bootstrap/scss/mixins";
@import "bootstrap/scss/utilities";

// По необходимости
@import "bootstrap/scss/root";
@import "bootstrap/scss/reboot";
@import "bootstrap/scss/type";
//@import "bootstrap/scss/images";
@import "bootstrap/scss/containers";
@import "bootstrap/scss/grid";


//@import "bootstrap/scss/tables";
@import "bootstrap/scss/forms";
@import "bootstrap/scss/buttons";
//@import "bootstrap/scss/transitions";
//@import "bootstrap/scss/dropdown";
@import "bootstrap/scss/button-group";
//@import "bootstrap/scss/nav";
@import "bootstrap/scss/navbar";
//@import "bootstrap/scss/card";
//@import "bootstrap/scss/accordion";
@import "bootstrap/scss/badge";
//@import "bootstrap/scss/progress";
@import "bootstrap/scss/list-group";
@import "bootstrap/scss/close";
// @import "bootstrap/scss/modal";
//@import "bootstrap/scss/tooltip";
//@import "bootstrap/scss/spinners";
@import "bootstrap/scss/offcanvas";

@import "bootstrap/scss/helpers";

@import "bootstrap/scss/utilities/api";